<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
  <!-- Navbar -->
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-2 pb-2">
            <h6 class="text-white text-capitalize ps-3 m-0">Search Criteria</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">

          <div class="row p-4">
            <div class="col-xs-6 col-sm-7 col-md-7 col-lg-7">
              <div class="input-group input-group-static mb-4">
                <label for="lname">Search Here:-</label>
                <input
                  class="form-control navbar-search"
                  type="text"
                  placeholder="Search........"
                  [(ngModel)]="inputValue"
                />
              </div>
            </div>

            <div class="col-xs-3 col-sm-1 col-md-1 col-lg-1">
              <div class="">
                <button type="button" class="btn bg-gradient-primary mt-3"  (click)="applyFilter()">Search</button>
              </div>
            </div>

            <div class="col-xs-3 col-sm-1 col-md-1 col-lg-1">
              <div class="">
                <button type="button" class="btn bg-gradient-primary mt-3"  (click)="addClient()">Add User</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3 date-panel margin-5">
    <div class="container-fluid">

    </div>
  </div>
  <!-- End Navbar -->
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Users</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <div class="mat-elevation-z8 mb-5">
                <table mat-table [dataSource]="dataSource" matSort>
                  <caption></caption>

                  <ng-container matColumnDef="client_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Id</th>
                    <td mat-cell *matCellDef="let element">{{ element.client_id }}</td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.name }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.email }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="community_cashback">
                    <th mat-header-cell *matHeaderCellDef>Community Cashback</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.community_cashback }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="mvp_points">
                    <th mat-header-cell *matHeaderCellDef>Mvp Points
                    </th>
                    <td mat-cell *matCellDef="let element">{{ element.mvp_points }}</td>
                  </ng-container>

                  <ng-container matColumnDef="created_date">
                    <th mat-header-cell *matHeaderCellDef>Created Date</th>
                    <td mat-cell *matCellDef="let element">{{ element.created_date  | date : "fullDate" }}</td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
              </div>
              <mat-paginator
                [pageSize]="itemsPerPage"
                *ngIf="this.totalItems > this.itemsPerPage"
                [pageSizeOptions]="[5, 10, 25, 100]"
                [length]="totalItems"
                setPageSize
                (page)="onPageChange($event)"
                aria-label="Select page"
              >
              </mat-paginator>
              <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="#fff"
                type="ball-scale-multiple"
              >
                <p style="font-size: 20px; color: white">Loading...</p>
              </ngx-spinner>
            </div>
          </div>
        </div>
      </div>
    </div>
 <app-footer></app-footer>
  </div>
</main>


